body {
    background-color: rgba(158, 48, 158, 0);
    margin: 0 auto;
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat-box {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
}

#chat-box-header {
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

#messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-message {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    width: 100%;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.message {
    word-wrap: break-word;
    margin: auto;
    width: 50%;
}

.icon {
    max-width: 22px;
    max-height: 22px;
}

.firstmessage {
    background-color: #00ff407c;
}

.highlighted {
    background-color: #ea00ff7c;
}
