body {
  background-color: rgba(158, 48, 158, 0);
  margin: 0;
  overflow: hidden;
  font-family: "Lucida Console", "Courier New", monospace;
}

#chat-box {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column-reverse;
  opacity: 0.8;
  font-size: 24px;
  color: white;
  overflow: hidden;
}

#messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 4px 6px;
  border-radius: 4px;
  width: 100%;
}

.chat-header {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.message {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.firstmessage {
  background-color: #00ff407c;
}

.highlighted {
  background-color: #ea00ff7c;
}
